In [1]:
import pandas as pd

df = pd.read_csv('pokemon.csv')
df

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [2]:
df.iloc[:5]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [3]:
df.iloc[-5:, 0:5]

,abilities,against_bug,against_dark,against_dragon,against_electric
796,['Beast Boost'],0.25,1.0,0.5,2.0
797,['Beast Boost'],1.00,1.0,0.5,0.5
798,['Beast Boost'],2.00,0.5,2.0,0.5
799,['Prism Armor'],2.00,2.0,1.0,1.0
800,['Soul-Heart'],0.25,0.5,0.0,1.0

In [4]:
df.iloc[[0, 100, 700], [30, 40]]

          name  is_legendary
0    Bulbasaur             0
100  Electrode             0
700   Hawlucha             0

In [5]:
df.loc[[0, 100, 700], ['name', 'is_legendary', 'type1', 'type2']]

          name  is_legendary     type1   type2
0    Bulbasaur             0     grass  poison
100  Electrode             0  electric     NaN
700   Hawlucha             0  fighting  flying

In [6]:
df['is_legendary'] == 1

0      False
1      False
2      False
3      False
4      False
       ...
796     True
797     True
798     True
799     True
800     True
Name: is_legendary, Length: 801, dtype: bool

In [7]:
df.loc[df['is_legendary'] == 1]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
143,"['Pressure', 'Snow Cloak']",0.50,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,...,NaN,144,95,125,85,ice,flying,55.4,1,1
144,"['Pressure', 'Static']",0.50,1.0,1.0,1.0,1.0,0.5,1.0,0.5,1.0,...,NaN,145,125,90,100,electric,flying,52.6,1,1
145,"['Pressure', 'Flame Body']",0.25,1.0,1.0,2.0,0.5,0.5,0.5,1.0,1.0,...,NaN,146,125,85,90,fire,flying,60.0,1,1
149,"['Pressure', 'Unnerve']",2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,150,194,120,140,psychic,NaN,122.0,1,1
150,['Synchronize'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,151,100,100,100,psychic,NaN,4.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [8]:
df['generation'] == 1

0       True
1       True
2       True
3       True
4       True
       ...
796    False
797    False
798    False
799    False
800    False
Name: generation, Length: 801, dtype: bool

In [9]:
df.loc[df['generation'] == 1]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,"['Shed Skin', 'Marvel Scale']",1.0,1.0,2.0,0.5,2.0,1.0,0.5,1.0,1.0,...,50.0,147,50,50,50,dragon,NaN,3.3,1,0
147,"['Shed Skin', 'Marvel Scale']",1.0,1.0,2.0,0.5,2.0,1.0,0.5,1.0,1.0,...,50.0,148,70,70,70,dragon,NaN,16.5,1,0
148,"['Inner Focus', 'Multiscale']",0.5,1.0,2.0,1.0,2.0,0.5,0.5,1.0,1.0,...,50.0,149,100,100,80,dragon,flying,210.0,1,0
149,"['Pressure', 'Unnerve']",2.0,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,150,194,120,140,psychic,NaN,122.0,1,1
150,['Synchronize'],2.0,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,151,100,100,100,psychic,NaN,4.0,1,1

In [10]:
df.loc[df['generation'] <= 2]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,['Shed Skin'],1.00,1.0,1.0,0.0,1.0,2.00,0.5,0.5,1.0,...,50.0,247,65,70,51,rock,ground,152.0,2,0
247,"['Sand Stream', 'Unnerve']",2.00,0.5,1.0,1.0,2.0,4.00,0.5,0.5,0.5,...,50.0,248,95,120,71,rock,dark,202.0,2,0
248,"['Pressure', 'Multiscale']",1.00,2.0,1.0,2.0,1.0,0.25,1.0,1.0,2.0,...,NaN,249,90,154,110,psychic,flying,216.0,2,1
249,"['Pressure', 'Regenerator']",0.25,1.0,1.0,2.0,0.5,0.50,0.5,1.0,1.0,...,NaN,250,110,154,90,fire,flying,199.0,2,1
250,['Natural Cure'],4.00,2.0,1.0,0.5,1.0,0.50,2.0,2.0,2.0,...,NaN,251,100,100,100,psychic,grass,5.0,2,1

In [11]:
df.loc[(df['generation'] <= 2) & (df['is_legendary'] == 1)]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
143,"['Pressure', 'Snow Cloak']",0.50,1.0,1.0,2.0,1.0,1.00,2.0,1.0,1.0,...,NaN,144,95,125,85,ice,flying,55.4,1,1
144,"['Pressure', 'Static']",0.50,1.0,1.0,1.0,1.0,0.50,1.0,0.5,1.0,...,NaN,145,125,90,100,electric,flying,52.6,1,1
145,"['Pressure', 'Flame Body']",0.25,1.0,1.0,2.0,0.5,0.50,0.5,1.0,1.0,...,NaN,146,125,85,90,fire,flying,60.0,1,1
149,"['Pressure', 'Unnerve']",2.00,2.0,1.0,1.0,1.0,0.50,1.0,1.0,2.0,...,NaN,150,194,120,140,psychic,NaN,122.0,1,1
150,['Synchronize'],2.00,2.0,1.0,1.0,1.0,0.50,1.0,1.0,2.0,...,NaN,151,100,100,100,psychic,NaN,4.0,1,1
242,"['Pressure', 'Inner Focus']",1.00,1.0,1.0,0.5,1.0,1.00,1.0,0.5,1.0,...,NaN,243,115,100,115,electric,NaN,178.0,2,1
243,"['Pressure', 'Inner Focus']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,NaN,244,90,75,100,fire,NaN,198.0,2,1
244,"['Pressure', 'Inner Focus']",1.00,1.0,1.0,2.0,1.0,1.00,0.5,1.0,1.0,...,NaN,245,90,115,85,water,NaN,187.0,2,1
248,"['Pressure', 'Multiscale']",1.00,2.0,1.0,2.0,1.0,0.25,1.0,1.0,2.0,...,NaN,249,90,154,110,psychic,flying,216.0,2,1
249,"['Pressure', 'Regenerator']",0.25,1.0,1.0,2.0,0.5,0.50,0.5,1.0,1.0,...,NaN,250,110,154,90,fire,flying,199.0,2,1
250,['Natural Cure'],4.00,2.0,1.0,0.5,1.0,0.50,2.0,2.0,2.0,...,NaN,251,100,100,100,psychic,grass,5.0,2,1

In [12]:
df.loc[(df['generation'] <= 2) & (df['is_legendary'] == 1), ['name', 'type1', 'type2', 'generation', 'is_legendary']]

         name     type1   type2  generation  is_legendary
143  Articuno       ice  flying           1             1
144    Zapdos  electric  flying           1             1
145   Moltres      fire  flying           1             1
149    Mewtwo   psychic     NaN           1             1
150       Mew   psychic     NaN           1             1
242    Raikou  electric     NaN           2             1
243     Entei      fire     NaN           2             1
244   Suicune     water     NaN           2             1
248     Lugia   psychic  flying           2             1
249     Ho-Oh      fire  flying           2             1
250    Celebi   psychic   grass           2             1

In [13]:
df.loc[(df['generation'] <= 2) & (df['is_legendary'] == 1), ['name', 'type1', 'type2']]

         name     type1   type2
143  Articuno       ice  flying
144    Zapdos  electric  flying
145   Moltres      fire  flying
149    Mewtwo   psychic     NaN
150       Mew   psychic     NaN
242    Raikou  electric     NaN
243     Entei      fire     NaN
244   Suicune     water     NaN
248     Lugia   psychic  flying
249     Ho-Oh      fire  flying
250    Celebi   psychic   grass

In [14]:
df.loc[(df['generation'] == 1) | (df['is_legendary'] == 1), ['name', 'type1', 'type2']]

           name    type1   type2
0     Bulbasaur    grass  poison
1       Ivysaur    grass  poison
2      Venusaur    grass  poison
3    Charmander     fire     NaN
4    Charmeleon     fire     NaN
..          ...      ...     ...
796  Celesteela    steel  flying
797     Kartana    grass   steel
798    Guzzlord     dark  dragon
799    Necrozma  psychic     NaN
800    Magearna    steel   fairy

[216 rows x 3 columns]

In [15]:
generation = int(input('Type in pokemon generation: '))
df.loc[(df['generation'] == generation) & (df['is_legendary'] == 1), ['name', 'type1', 'type2']]

Type in pokemon generation: 5

          name     type1     type2
493    Victini   psychic      fire
637   Cobalion     steel  fighting
638  Terrakion      rock  fighting
639   Virizion     grass  fighting
640   Tornadus    flying       NaN
641  Thundurus  electric    flying
642   Reshiram    dragon      fire
643     Zekrom    dragon  electric
644   Landorus    ground    flying
645     Kyurem    dragon       ice
646     Keldeo     water  fighting
647   Meloetta    normal   psychic
648   Genesect       bug     steel